version: '3'
services:
  fdp-server:
    image: {SERVER_IMAGE}
    restart: always
    ports:
      - 3000:80
    volumes:
      - ./application-production.yml:/fdp/application-production.yml:ro

  fdp-client:
    image: {CLIENT_IMAGE}
    ports:
      - 80:80
    environment:
      - FDP_HOST=fdp-server

  open-refine:
    image: {OPEN_REFINE_IMAGE}
    ports:
      - 3333:3333

  mongo:
    image: mongo:4.0.12
    restart: always
    ports:
      - 27017:27017
    command: mongod

  graphdb:
    image: dhlabbasel/graphdb-free
    restart: always
    volumes:
      - ./graphdb:/graphdb/data
    ports:
      - 7200:7200
