version: '3'
services:

  fdp-server:
    image: fairdata/fairdatapoint:1.0.0
    restart: always
    volumes:
      - ./application-production.yml:/fdp/application-production.yml:ro

  fdp-client:
    image: fairdata/fairdatapoint-client:1.0.0
    ports:
      - 80:80
    environment:
      - FDP_HOST=fdp-server

  open-refine:
    image: fairdata/openrefine-metadata-extension:1.0.0-rc.1
    ports:
      - 3333:3333

  mongo:
    image: mongo:4.0.12
    restart: always
    ports:
      - 27017:27017
    command: mongod
